@charset "utf-8";
/**
 * init
 * (c) FOURDIGIT Inc.
 */
	/* image */
	img,
	/* block */
	div, p, blockquote,
	/* heading */
	h1, h2, h3, h4, h5, h6,
	/* list */
	ul, ol, li, dl, dt, dd,
	/* form */
	form, fieldset, textarea
	{
		border: 0;
		margin: 0;
		padding: 0;
		font-size: 100%;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		list-style: none;
	}
	hr.separator {
		display: none;
	}